$steelBlue-color: #4682b4;
$font-primary-color: #323130;
$app-theme-card: #f3f2f1;

$hover-card: #fafafa;
$border-card: #edebe9;
$active-panel: rgba(84, 167, 233, 0.1);

$icons-color: #797775;
$btn-disabled-font: #cccccc;