.modal-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 9999;
}

.modal_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal {
  min-width: 300px;
  background-color: white;
  border-radius: 3px;
}

.modal_header {
  border-bottom: 1px solid $border-card;

  & .modal_header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

    h2 {
    }

    span {
      cursor: pointer;
      color: $font-primary-color;

      &:hover {
        color: $steelBlue-color;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.modal_content {
  padding: 20px;
}
